/*
 * Copyright (c) 2024 Petko Yotov pmwiki.org/petko
 *
 * SPDX-License-Identifier: MIT
 */

// International characters and dead accents from the 
// XKB layout "English (US, intl., with AltGr dead keys)":
#define SUP2 RA(N2)

// dead accents: grave, acute, diaeresis, circumflex, tilde
#define D_GRV  RA(GRAVE)
#define D_ACU  RA(SQT)
#define D_DRS  RA(DQT)
#define D_CRC  RA(N6)
#define D_TLD  RA(TILDE)

// characters
#define NTILDE RA(N)
#define DEGREE RA(COLON)
#define C_CDL  RA(COMMA)
#define S_SRP  RA(S)
#define OELIG  RA(X)
#define AELIG  RA(Z)
#define EURO   RA(N5)
#define GBP    RA(DOLLAR)
#define YEN    RA(MINUS)

// edit shortcuts
// C_AC_UNDO/K_UNDO and K_REDO work in LibreOffice 
// but not in Kate/Gedit/Firefox
#define CCOPY   LC(INS)
#define CCUT    LS(DEL)
#define CPASTE  LS(INS)
#define CPASTE2 LC(LS(V))
#define SAVE    LC(S)
#define SAVEAS  LC(LS(S)) 
#define U_UNDO  LC(Z)
#define U_REDO  LC(LS(Z))

