/*
 * Copyright (c) 2024 Petko Yotov pmwiki.org/petko
 *
 * SPDX-License-Identifier: MIT
 */

// International characters and dead accents from the 
// XKB layout "English (US, intl., with AltGr dead keys)":
#define SUP2 RA(N2)

// dead accents: grave, acute, diaeresis, circumflex, tilde
#define D_GRV  RA(GRAVE)
#define D_ACU  RA(SQT)
#define D_DRS  RA(DQT)
#define D_CRC  RA(N6)
#define D_TLD  RA(TILDE)

// characters
#define NTILDE RA(N)
#define DEGREE RA(COLON)
#define C_CDL  RA(COMMA)
#define S_SRP  RA(S)
#define OELIG  RA(X)
#define AELIG  RA(Z)
#define EURO   RA(N5)
#define GBP    RA(DOLLAR)
#define YEN    RA(MINUS)

// edit shortcuts
// C_AC_UNDO/K_UNDO and K_REDO work in LibreOffice 
// but not in Kate/Gedit/Firefox
#define CCOPY   LC(INS)
#define CCUT    LS(DEL)
#define CPASTE  LS(INS)
#define CPASTE2 LC(LS(V))
#define SAVE    LC(S)
#define SAVEAS  LC(LS(S)) 
#define U_UNDO  LC(Z)
#define U_REDO  LC(LS(Z))


// These are used in keymaps, defined here for better lisibility
#define TODO      &none
#define MAYBE     &none
// editing
#define E_SAVE   &mt SAVEAS SAVE
#define E_COPY   &mt CCUT CCOPY
#define E_PASTE  &mt CPASTE2 CPASTE
#define E_UNDO   &mt U_REDO  U_UNDO
// multimedia
#define MM_VU    &mt K_NEXT K_VOL_UP
#define MM_VD    &mt K_PREV K_VOL_DN
#define MM_PS    &kp PRINTSCREEN
// mouse
#define M_MU     &mmv MOVE_UP
#define M_MD     &mmv MOVE_DOWN
#define M_ML     &mmv MOVE_LEFT
#define M_MR     &mmv MOVE_RIGHT
#define M_SU     &msc SCRL_UP
#define M_SD     &msc SCRL_DOWN
#define M_SL     &msc SCRL_LEFT
#define M_SR     &msc SCRL_RIGHT
#define M_B1     &mkp MB1
#define M_B2     &mkp MB2
#define M_B3     &mkp MB3
#define M_B4     &mkp MB4
#define M_B5     &mkp MB5
// parentheses
#define P_BRACKETS &mt RBKT LBKT
#define P_BRACES   &mt RBRC LBRC
#define P_PARENS   &mt RPAR LPAR
#define P_LT_GT    &mt GT LT 
#define P_EQ_TLD   &mt TILDE EQUAL
